<!DOCTYPE html>
<html lang="en"{% if session['theme'] == 'dark' %} data-bs-theme="dark"{% endif %}>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- custom user theme -->
  {% if session['theme'] == 'light' %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='default.bootstrap.min.css')}}">
  {% elif session['theme'] == 'dark' %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='default.bootstrap.min.css')}}">
  {% else %}
    <link rel="stylesheet"  type="text/css" id="bootstrap_stylesheet" href="{{session['theme']}}">
  {% endif %}
  <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
  <title>Friendbookspacetter</title>
</head>

<body>
  <!-- navbar -->
  {% if 'user_id' in session %}
    <!-- if user is signed in, show the standard navbar -->
    <nav class="navbar navbar-expand-lg bg-secondary justify-content-between py-0 px-5 shadow sticky-top text-dark">
      <div class="leftContent d-flex ms-5 mt-2">
        <p>FBST</p>
        <p class="mx-2">|</p>
        <a href="/home" class="nav-link">Home</a>
      </div>
        <form action="/search" class="d-flex" method="post">
          <input type="text" name="search" id="searchbar" placeholder="Search..." class="form-control me-2">
          <button class="btn btn-primary">Search</button>
        </form>
      <div class="nav-item dropdown me-5">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/profile/{{session['user_id']}}" target="_self">Profile</a></li>
          <li><a class="dropdown-item" href="/friends" target="_self">Friends List</a></li>
          <li><a class="dropdown-item" href="/settings" target="_self">Settings</a></li>
          <li><a class="dropdown-item" href="/sign_out" target="_self">Sign Out</a></li>
        </ul>
      </div>
    </nav>
  {% else %}
    <!-- if user isn't signed in show a different navbar -->
    <nav class="navbar navbar-expand-lg bg-secondary justify-content-between py-0 px-5 shadow sticky-top text-dark">
      <div class="leftContent d-flex ms-5 mt-2">
        <p>Logo</p>
        <p class="mx-2">|</p>
        <a href="/home" class="nav-link">Home</a>
      </div>
      <a href="/" class="nav-link me-5">Sign In</a>
    </nav>
  {% endif %}
  <!-- main content -->
  <div class="container d-flex my-5">
    <!-- left column -->
    <div class="col-8 me-5">
      <div class="new_post">
        <p>Post your thoughts</p>
        {% for message in get_flashed_messages(category_filter='new_post') %}
          <p class="text-danger">{{message}}</p>
        {% endfor %}
        <form action="/add_post/home" method="post">
          <input type="hidden" name="poster_id" id="hidden_user_id_form" value="{{session['user_id']}}">
          <textarea name="content" id="new_post" class="form-control" placeholder="Start Typing"></textarea>
          <div class="d-flex m-2 justify-content-end">
            <button hidden="true" class="btn btn-primary mx-2">add image</button>
            <button class="btn btn-primary" type="submit">post</button>
          </div>
        </form>
      </div>
      {% for post in all_posts %}
        <!-- user post -->
        <div class="text_only_post d-flex mt-5">
          <a href="/profile/{{post.poster_id}}"><img src="{{url_for('.static', filename='placeholderPFP.jpg')}}" alt="placeholder profile pic" class="profile_pic"></a>
          <div class="post ms-3">
            <p>{{post.poster_username}}</p>
            <p>{{post.content}}</p>
            <div class="post_interactions d-flex justify-content-between">
              <div class="d-flex">
                <a href="/post/{{post.id}}" class="link-secondary text-decoration-none">{{post.lit_count}} 🔥</a>
                <a href="/post/{{post.id}}" class="ms-3 text-decoration-none link-secondary">{{post.comments}} comment{% if not post.comments == 1 %}s{% endif %}</a>
                {% if not post.created_at == post.updated_at %}
                  <a href="/post/{{post.id}}" class="ms-3 text-decoration-none link-secondary">* Edited</a>
                {% endif %}
              </div>
              <div class="d-flex">
                {% if not session['user_id'] in post.lit_users %}
                  <form action="/add_lit/{{post.id}}/home">
                    <button class="btn btn-primary" type="submit">🔥</button>
                  </form>
                {% endif %}
                <button class="btn btn-primary mx-2" onclick="window.location.href='/post/{{post.id}}';">comment</button>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- right column -->
    <div class="col-4 ms-5">
      <form action="/home" method="post">
        <!-- show by -->
        <h4>Show Posts By:</h4>
        <input type="radio" name="sort" id="chronological_sort" value="chronological" class="me-1"{% if sort['sort'] == 'chronological' %} checked="true"{% endif %}>
        <label for="chronological_sort">Chronological</label><br>
        <input type="radio" name="sort" id="lit_sort" value="lit" class="me-1"{% if sort['sort'] == 'lit' %} checked="true"{% endif %}>
        <label for="lit_sort">Most 🔥</label><br>
        <input type="radio" name="sort" id="comments_sort" value="comments" class="me-1"{% if sort['sort'] == 'comments' %} checked="true"{% endif %}>
        <label for="comments_sort">Most Comments</label><br>
        <input type="radio" name="sort" id="ratio_sort" value="ratio" class="me-1"{% if sort['sort'] == 'ratio' %} checked="true"{% endif %}>
        <label for="ratio_sort">Biggest Ratio</label>
        <!-- show from -->
        <h4 class="mt-3">Show Posts From:</h4>
        <input type="radio" name="show_time" id="show_today" value="today" class="me-1"{% if sort['show_time'] == 'today' %} checked="true"{% endif %}>
        <label for="show_today">Today</label><br>
        <input type="radio" name="show_time" id="show_week" value="week" class="me-1"{% if sort['show_time'] == 'week' %} checked="true"{% endif %}>
        <label for="show_week">This Week</label><br>
        <input type="radio" name="show_time" id="show_month" value="month" class="me-1"{% if sort['show_time'] == 'month' %} checked="true"{% endif %}>
        <label for="show_month">This Month</label><br>
        <input type="radio" name="show_time" id="show_all" value="all" class="me-1"{% if sort['show_time'] == 'all' %} checked="true"{% endif %}>
        <label for="show_all">All Time</label>
        <!-- show users -->
        <h4 class="mt-3">Show Users:</h4>
        <input type="checkbox" name="show_friends" id="friends" value='true' class="me-1"{% if sort['show_friends'] == 'true' %} checked="true"{% endif %}>
        <label for="friends">Friends</label><br>
        <input type="checkbox" name="show_friends_of_friends" id="friends_of_friends" value='true' class="me-1"{% if sort['show_friends_of_friends'] == 'true' %} checked="true"{% endif %}>
        <label for="friends_of_friends">Friends of Friends</label><br>
        <input type="checkbox" name="show_celebrities" id="celebrities" value='true' class="me-1"{% if sort['show_celebrities'] == 'true' %} checked="true"{% endif %}>
        <label for="celebrities">Celebrities</label><br>
        <input type="checkbox" name="show_everyone" id="everyone" value='true' class="me-1"{% if sort['show_everyone'] == 'true' %} checked="true"{% endif %}>
        <label for="everyone">Everyone</label><br>
        <!-- button -->
        <button class="btn btn-primary mt-3">Update Feed</button>
      </form>
    </div>
  </div>
  <!-- bootstrap script for dropdown menu -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
</body>

</html>