<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='default.bootstrap.min.css')}}">
  <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
  <title>Login</title>
</head>
<body>
  <h1 class="text-center m-5">Welcome to Friendbookspacetter</h1>
  <div class="container d-flex">
    <div class="col mx-2 px-2 bg-dark">
      <div class="container">
        <h2 class="text-primary mt-3">Register</h2>
        <!-- registration form -->
        <form action="/register_user" method="post">
          <!-- username -->
          <label for="register_username">Username:</label>
          <input type="text" name="username" id="register_username" class="form-control my-2">
          {% for message in get_flashed_messages(category_filter='register_username') %}
            <p class="text-danger">{{message}}</p>
          {% endfor %}
          <!-- email -->
          <label for="register_email">Email:</label>
          <input type="text" name="email" id="register_email" class="form-control my-2">
          {% for message in get_flashed_messages(category_filter='register_email') %}
            <p class="text-danger">{{message}}</p>
          {% endfor %}
          <!-- password -->
          <label for="register_password">Password:</label>
          <input type="password" name="password" id="register_password" class="form-control my-2">
          {% for message in get_flashed_messages(category_filter='register_password') %}
            <p class="text-danger">{{message}}</p>
          {% endfor %}
          <label for="register_confirm_password">Confirm Password:</label>
          <input type="password" name="confirm_password" id="register_confirm_password" class="form-control my-2">
          {% for message in get_flashed_messages(category_filter='confirm_password') %}
            <p class="text-danger">{{message}}</p>
          {% endfor %}
          <button class="btn btn-primary my-3" type="submit">Register</button>
        </form>
      </div>
    </div>
    <div class="col mx-2 px-2 bg-dark">
      <div class="container">
        <h2 class="text-primary mt-3">Login</h2>
        <!-- login form -->
        <form action="/login_user" method="post">
          <label for="login_email">Email</label>
          <input type="text" name="login_email" id="login_email" class="form-control my-2">
          {% for message in get_flashed_messages(category_filter='login_email') %}
            <p class="text-danger">{{message}}</p>
          {% endfor %}
          <label for="login_password">Password:</label>
          <input type="password" name="login_password" id="login_password" class="form-control my-2">
          {% for message in get_flashed_messages(category_filter='login_password') %}
            <p class="text-danger">{{message}}</p>
          {% endfor %}
          <button class="btn btn-primary my-3" type="submit">Login</button>
        </form>
      </div>
    </div>
  </div>
</body>
</html>