<!DOCTYPE html>
<html lang="en"{% if session['theme'] == 'dark' %} data-bs-theme="dark"{% endif %}>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- custom user theme -->
  {% if session['theme'] == 'light' %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='default.bootstrap.min.css')}}">
  {% elif session['theme'] == 'dark' %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='default.bootstrap.min.css')}}">
  {% else %}
    <link rel="stylesheet"  type="text/css" id="bootstrap_stylesheet" href="{{session['theme']}}">
  {% endif %}
  <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
  <title>Comments</title>
</head>

<!-- post filters need to be auto-populated -->

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-secondary justify-content-between py-0 px-5 shadow sticky-top text-dark">
    <div class="leftContent d-flex ms-5 mt-2">
      <!-- could replace this with just a clickable logo -->
      <p>Logo</p>
      <p class="mx-2">|</p>
      <a href="/home" class="nav-link">Home</a>
    </div>
    <form action="/search" class="d-flex" method="post">
      <input type="text" name="search" id="searchbar" placeholder="Search..." class="form-control me-2">
      <button class="btn btn-primary">Search</button>
    </form>
    <div class="nav-item dropdown me-5">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/profile/{{session['user_id']}}" target="_self">Profile</a></li>
        <li><a class="dropdown-item" href="/friends" target="_self">Friends List</a></li>
        <li><a class="dropdown-item" href="/settings" target="_self">Settings</a></li>
        <li><a class="dropdown-item" href="/sign_out" target="_self">Sign Out</a></li>
      </ul>
    </div>
  </nav>
  <!-- main content -->
  <div class="container d-flex my-5">
    <!-- left column -->
    <div class="col-8 me-5">
      <!-- text post -->
      <div class="text_only_post d-flex mt-5">
        <a href="/profile/{{post.poster_id}}"><img src="{{url_for('.static', filename='placeholderPFP.jpg')}}" alt="placeholder profile pic" class="profile_pic"></a>
        <div class="post ms-3">
          <p>{{post.poster_username}}</p>
          {% if post.poster_id == session['user_id'] %}
          <form action="/edit_post/{{post.id}}" method="post">
            <input type="hidden" id="post_id" value="{{post.id}}">
            <textarea name="content" id="content" class="form-control mb-3">{{post.content}}</textarea>
          {% else %}
          <p>{{post.content}}</p>
          {% endif %}
          <div class="post_interactions d-flex justify-content-between">
            <div class="d-flex">
              <a class="link-secondary text-decoration-none">{{post.lit_count}} 🔥</a>
              <a class="ms-3 link-secondary text-decoration-none">{{post.comments}} comment{% if not post.comments == 1 %}s{% endif %}</a>
            </div>
            <div class="d-flex">
              {% if post.poster_id == session['user_id'] %}
                  <button class="btn btn-warning text-dark" type="submit">Edit</button>
                </form>
                <button class="btn btn-danger text-dark mx-2" onclick="postDeletionConfirmation()" type="button">Delete</button>
              {% else %}
                </form>
              {% endif %}
              {% if not session['user_id'] in post.lit_users %}
                <form action="/add_lit/{{post.id}}/home">
                  <button class="btn btn-primary" type="submit">🔥</button>
                </form>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
      <hr>
      {% for comment in comments %}
        <div class="comment d-flex mt-4">
          <img src="{{url_for('.static', filename='placeholderPFP.jpg')}}" alt="placeholder profile pic" class="profile_pic">
          <div class="ms-3">
            <p>{{comment.commenter_username}}</p>
            <p>{{comment.content}}</p>
          </div>
        </div>
      {% endfor %}
      <form action="/add_comment" method="post">
        <input type="hidden" name="post_id" value="{{post.id}}">
        <input type="hidden" name="commenter_id" value="{{session['user_id']}}">
        <textarea name="content" id="new_content" cols="30" rows="3" placeholder="Add a comment..." class="form-control mt-4"></textarea>
        <button class="btn btn-primary mx-2 text-end mt-3" type="submit">comment</button>
      </form>
    </div>
  </div>
  <!-- bootstrap script for dropdown menu -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
  {% block javascript %}
  <script src="{{ url_for('static',filename='post_deletion.js') }}"></script>
  {% endblock %}
</body>

</html>