<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='default.bootstrap.min.css')}}">
  <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
  <title>Username's Profile</title>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-secondary justify-content-between py-0 px-5 shadow sticky-top text-dark">
    <div class="leftContent d-flex ms-5 mt-2">
      <!-- could replace this with just a clickable logo -->
      <p>Logo</p>
      <p class="mx-2">|</p>
      <a href="/home" class="nav-link">Home</a>
    </div>
    <div class="searchbar d-flex">
      <input type="text" name="searchbar" id="searchbar" placeholder="Search..." class="form-control me-2">
      <button class="btn btn-primary">Search</button>
    </div>
    <div class="nav-item dropdown me-5">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/profile/{{session['user_id']}}" target="_self">Profile</a></li>
        <li><a class="dropdown-item" href="/friends" target="_self">Friends List</a></li>
        <li><a class="dropdown-item" href="/settings" target="_self">Settings</a></li>
        <li><a class="dropdown-item" href="/sign_out" target="_self">Sign Out</a></li>
      </ul>
    </div>
  </nav>
  <!-- main content -->
  <div class="container d-flex my-5">
    <!-- left column -->
    <div class="col-4 me-5">
      <img src="{{url_for('.static', filename='placeholderPFP.jpg')}}" alt="placeholder profile picture" class="main_profile_pic ms-5">
      <h3>{{user.username}}</h3>
      <p class="ms-4">{{user.bio}}</p>
      {% if not session['user_id'] == user.id %}
      {% if not user.id in friends %}
        <button class="btn btn-primary" onclick="window.location.href='/add_friend/profile/{{user.id}}';">Add Friend</button>
      {% endif %}
      {% endif %}
      <!-- spotify box here -->
      <div class="spotify bg-warning mt-3 text-center text-dark" style="height: 30rem; border-radius: 2rem;"><h3>Spotify Placeholder</h3></div>
    </div>
    <!-- right column -->
    <div class="col-8 ms-5">
      {% if session['user_id'] == user.id %}
        <!-- new post box -->
        <div class="new_post">
          <p>Create a post</p>
          {% for message in get_flashed_messages(category_filter='new_post') %}
            <p class="text-danger">{{message}}</p>
          {% endfor %}
          <form action="/add_post/profile/{{user.id}}" method="post">
            <input type="hidden" name="poster_id" value="{{user.id}}">
            <textarea name="content" id="new_post" class="form-control" placeholder="Start Typing"></textarea>
            <div class="d-flex m-2 justify-content-end">
              <button class="btn btn-primary mx-2">add image</button>
              <button class="btn btn-primary" type='submit'>post</button>
          </form>
          </div>
        </div>
      {% endif %}
      {% if all_posts == None %}
      <h2>Posts</h2>
      <p class="ms-4">This user has no posts</p>
      {% else %}
      <h2>Most Popular Post:</h2>
      <!-- text post -->
      <div class="text_only_post d-flex mt-4 ms-3">
        <div class="post ms-3">
          <p>{{popular_post.content}}</p>
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <a href="/post/{{popular_post.id}}" class="link-secondary text-decoration-none">{{popular_post.lit_count}} 🔥</a>
              <a href="/post/{{popular_post.id}}" class="link-secondary text-decoration-none mx-3">{{popular_post.comments}} comments</a>
            </div>
            <div class="d-flex">
              {% if not session['user_id'] in popular_post.lit_users %}
                <form action="/add_lit/{{popular_post.id}}/home">
                  <button class="btn btn-primary" type="submit">🔥</button>
                </form>
              {% endif %}
              <button class="btn btn-primary ms-2" onclick="window.location.href='/post/{{popular_post.id}}';">comment</button>
            </div>
          </div>
        </div>
      </div>
      <h2 class="mt-5">Most Recent Posts:</h2>
      {% for post in all_posts %}
      <!-- text post -->
      <div class="text_only_post d-flex mt-4 ms-3">
        <div class="post ms-3">
          <p>{{post.content}}</p>
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <a href="/post/{{post.id}}" class="link-secondary text-decoration-none">{{post.lit_count}} 🔥</a>
              <a href="/post/{{post.id}}" class="link-secondary text-decoration-none mx-3">{{post.comments}} comments</a>
            </div>
            <div class="d-flex">
              {% if not session['user_id'] in post.lit_users %}
                <form action="/add_lit/{{post.id}}/home">
                  <button class="btn btn-primary" type="submit">🔥</button>
                </form>
              {% endif %}
              <button class="btn btn-primary ms-2" onclick="window.location.href='/post/{{post.id}}';">comment</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  <!-- bootstrap script for dropdown menu -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
</body>

</html>