<!DOCTYPE html>
<html lang="en"{% if session['theme'] == 'dark' %} data-bs-theme="dark"{% endif %}>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if session['theme'] == 'light' %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='default.bootstrap.min.css')}}">
  {% elif session['theme'] == 'dark' %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='default.bootstrap.min.css')}}">
  {% else %}
    <link rel="stylesheet"  type="text/css" id="bootstrap_stylesheet" href="{{session['theme']}}">
  {% endif %}
  <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
  <title>Friendbookspacetter</title>
</head>

<!-- post filters need to be auto-populated -->

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-secondary justify-content-between py-0 px-5 shadow sticky-top text-dark">
    <div class="leftContent d-flex ms-5 mt-2">
      <!-- could replace this with just a clickable logo -->
      <p>Logo</p>
      <p class="mx-2">|</p>
      <a href="/home" class="nav-link">Home</a>
    </div>
    <div class="searchbar d-flex">
      <input type="text" name="searchbar" id="searchbar" placeholder="Search..." class="form-control me-2">
      <button class="btn btn-primary">Search</button>
    </div>
    <div class="nav-item dropdown me-5">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/profile/{{session['user_id']}}" target="_self">Profile</a></li>
        <li><a class="dropdown-item" href="/friends" target="_self">Friends List</a></li>
        <li><a class="dropdown-item" href="/settings" target="_self">Settings</a></li>
        <li><a class="dropdown-item" href="/sign_out" target="_self">Sign Out</a></li>
      </ul>
    </div>
  </nav>
  <!-- main content -->
  <div class="container d-flex my-5">
    <!-- left column -->
    <div class="col-8 me-5">
      <div class="refine_search">
        <h4>Search Results:</h4>
        <textarea name="new_post" id="new_post" class="form-control" placeholder="Refine Search..."></textarea>
        <div class="d-flex m-2 justify-content-end">
          <button class="btn btn-primary">Search</button>
        </div>
      </div>
      <!-- single user -->
      <div class="d-flex mt-5">
        <img src="{{url_for('.static', filename='placeholderPFP.jpg')}}" alt="placeholder_profile_pic" class="profile_pic">
        <div class="ms-4">
          <h3>Users' Name</h3>
          <div class="d-flex mt-3">
            <button class="btn btn-primary me-5">View Profile</button>
            <button class="btn btn-primary">Unfriend</button>
          </div>
        </div>
      </div>
      <!-- single user -->
      <div class="d-flex mt-5">
        <img src="{{url_for('.static', filename='placeholderPFP.jpg')}}" alt="placeholder_profile_pic" class="profile_pic">
        <div class="ms-4">
          <h3>Users' Name</h3>
          <div class="d-flex mt-3">
            <button class="btn btn-primary me-5">View Profile</button>
            <button class="btn btn-primary">Unfriend</button>
          </div>
        </div>
      </div>
      <!-- text post -->
      <div class="text_only_post d-flex mt-5">
        <img src="{{url_for('.static', filename='placeholderPFP.jpg')}}" alt="placeholder_profile_pic" class="profile_pic">
        <div class="post ms-3">
          <p>Username</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consequatur quis quam quibusdam voluptas animi vitae, quaerat explicabo consequuntur, illo maxime accusamus neque obcaecati nostrum, consectetur facere. Molestiae, ab itaque.</p>
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <p># 🔥</p>
              <p class="ms-3"># comments</p>
            </div>
            <div class="d-flex">
              <button class="btn btn-primary me-2">🔥</button>
              <button class="btn btn-primary">comment</button>
            </div>
          </div>
        </div>
      </div>
      <!-- image post -->
      <div class="image_post d-flex mt-5">
        <img src="{{url_for('.static', filename='placeholderPFP.jpg')}}" alt="placeholder_profile_pic" class="profile_pic">
        <div class="post ms-3">
          <p>Username</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consequatur quis quam quibusdam voluptas animi vitae, quaerat explicabo consequuntur.</p>
          <img src="{{url_for('.static', filename='placeholderPost.jpg')}}" alt="placeholder_post" class="post_pic">
          <div class="d-flex justify-content-between mt-2">
            <div class="d-flex">
              <p># 🔥</p>
              <p class="ms-3"># comments</p>
            </div>
            <div class="d-flex">
              <button class="btn btn-primary me-2">🔥</button>
              <button class="btn btn-primary">comment</button>
            </div>
          </div>
        </div>
      </div>
      <!-- text post -->
      <div class="text_only_post d-flex mt-5">
        <img src="{{url_for('.static', filename='placeholderPFP.jpg')}}" alt="placeholder_profile_pic" class="profile_pic">
        <div class="post ms-3">
          <p>Username</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque consequatur quis quam quibusdam voluptas animi vitae, quaerat explicabo consequuntur, illo maxime accusamus neque obcaecati nostrum, consectetur facere. Molestiae, ab itaque.</p>
          <div class="d-flex justify-content-between">
            <div class="d-flex">
              <p># 🔥</p>
              <p class="ms-3"># comments</p>
            </div>
            <div class="d-flex">
              <button class="btn btn-primary me-2">🔥</button>
              <button class="btn btn-primary">comment</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right column -->
    <div class="col-4 ms-5">
      <form action="CHANGE_LATER" method="post">
        <!-- filter -->
        <h4>Show Posts By:</h4>
        <input type="radio" name="filter" id="none" value="none" class="me-1">
        <label for="none">None</label><br>
        <input type="radio" name="filter" id="friends_profiles" value="friends_profiles" class="me-1">
        <label for="friends">Friends' Profiles</label><br>
        <input type="radio" name="filter" id="all_profiles" value="all_profiles" class="me-1">
        <label for="all_profiles">All Profiles</label><br>
        <input type="radio" name="filter" id="friends_posts" value="friends_posts" class="me-1">
        <label for="friends_posts">Friends' Posts</label><br>
        <input type="radio" name="filter" id="all_posts" value="all_posts" class="me-1">
        <label for="all_posts">All Posts</label><br>
        <!-- button -->
        <button class="btn btn-primary mt-3">Filter Search</button>
      </form>
    </div>
  </div>
  <!-- bootstrap script for dropdown menu -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
</body>

</html>