<!DOCTYPE html>
<html lang="en"{% if session['theme'] == 'dark' %} data-bs-theme="dark"{% endif %}>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- custom user theme -->
  {% if session['theme'] == 'light' %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='default.bootstrap.min.css')}}">
  {% elif session['theme'] == 'dark' %}
    <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='default.bootstrap.min.css')}}">
  {% else %}
    <link rel="stylesheet"  type="text/css" id="bootstrap_stylesheet" href="{{session['theme']}}">
  {% endif %}
  <link rel="stylesheet"  type="text/css" href="{{url_for('.static', filename='style.css')}}">
  <title>Username's Profile</title>
</head>

<!-- expects user object -->

<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg bg-secondary justify-content-between py-0 px-5 shadow sticky-top text-dark">
    <div class="leftContent d-flex ms-5 mt-2">
      <!-- could replace this with just a clickable logo -->
      <p>Logo</p>
      <p class="mx-2">|</p>
      <a href="/home" class="nav-link">Home</a>
    </div>
    <form action="/search" class="d-flex" method="post">
      <input type="text" name="search" id="searchbar" placeholder="Search..." class="form-control me-2">
      <button class="btn btn-primary">Search</button>
    </form>
    <div class="nav-item dropdown me-5">
      <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Account</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/profile/{{session['user_id']}}" target="_self">Profile</a></li>
        <li><a class="dropdown-item" href="/friends" target="_self">Friends List</a></li>
        <li><a class="dropdown-item" href="/settings" target="_self">Settings</a></li>
        <li><a class="dropdown-item" href="/sign_out" target="_self">Sign Out</a></li>
      </ul>
    </div>
  </nav>
  <!-- main content -->
  <div class="container d-flex my-5">
    <!-- left column -->
    <div class="col-4 me-5">
      <h1>Settings:</h1>
      <div class="d-flex justify-content-center">
        <img src="{{url_for('.static', filename='placeholderPFP.jpg')}}" alt="placeholder profile picture" class="main_profile_pic mt-3">
      </div>
      <div class="d-flex justify-content-center">
        <button class="btn btn-primary mt-3">Change Profile Picture</button>
      </div>
    </div>
    <!-- right column -->
    <div class="col-8 ms-5">
      <form action="/update_user_settings" method="post">
        <input type="hidden" name="user_id" id="user_id" value="{{user.id}}">
        <input type="hidden" name="celebrity_status" id="celebrity_status" value="{{user.celebrity}}">
        <input type="hidden" name="current_theme" id="current_theme" value="{{user.theme}}">
        <label for="username" class="mt-4 mb-2">Username:</label>
        <input type="text" name="username" id="username" class="form-control" value="{{user.username}}">
        <label for="bio" class="mt-4 mb-2">Profile Bio:</label>
        <textarea name="bio" id="bio" cols="30" rows="6" class="form-control">{{user.bio}}</textarea>
        <label for="video" class="mt-4 mb-2">Profile Video:</label>
        <input type="text" name="video" id="video" class="form-control" value="{{user.video}}">
        <label for="theme" class="mt-4 mb-2">Theme:</label>
        <select name="theme" id="theme" class="form-select">
          <option value="dark">Dark</option>
          <option value="light">Light</option>
          <option value="{{url_for('.static', filename='cerulean.bootstrap.min.css')}}">Cerulean</option>
          <option value="{{url_for('.static', filename='cosmo.bootstrap.min.css')}}">Cosmo</option>
          <option value="{{url_for('.static', filename='cyborg.bootstrap.min.css')}}">Cyborg</option>
          <option value="{{url_for('.static', filename='darkly.bootstrap.min.css')}}">Darkly</option>
          <option value="{{url_for('.static', filename='flatly.bootstrap.min.css')}}">Flatly</option>
          <option value="{{url_for('.static', filename='journal.bootstrap.min.css')}}">Journal</option>
          <option value="{{url_for('.static', filename='litera.bootstrap.min.css')}}">Litera</option>
          <option value="{{url_for('.static', filename='lumen.bootstrap.min.css')}}">Lumen</option>
          <option value="{{url_for('.static', filename='lux.bootstrap.min.css')}}">LUX</option>
          <option value="{{url_for('.static', filename='materia.bootstrap.min.css')}}">Materia</option>
          <option value="{{url_for('.static', filename='minty.bootstrap.min.css')}}">Minty</option>
          <option value="{{url_for('.static', filename='morph.bootstrap.min.css')}}">Morph</option>
          <option value="{{url_for('.static', filename='pulse.bootstrap.min.css')}}">Pulse</option>
          <option value="{{url_for('.static', filename='quartz.bootstrap.min.css')}}">Quartz</option>
          <option value="{{url_for('.static', filename='sandstone.bootstrap.min.css')}}">Sandstone</option>
          <option value="{{url_for('.static', filename='simplex.bootstrap.min.css')}}">Simplex</option>
          <option value="{{url_for('.static', filename='sketchy.bootstrap.min.css')}}">Sketchy</option>
          <option value="{{url_for('.static', filename='slate.bootstrap.min.css')}}">Slate</option>
          <option value="{{url_for('.static', filename='solar.bootstrap.min.css')}}">Solar</option>
          <option value="{{url_for('.static', filename='spacelab.bootstrap.min.css')}}">Spacelab</option>
          <option value="{{url_for('.static', filename='superhero.bootstrap.min.css')}}">Superhero</option>
          <option value="{{url_for('.static', filename='united.bootstrap.min.css')}}">United</option>
          <option value="{{url_for('.static', filename='vapor.bootstrap.min.css')}}">Vapor</option>
          <option value="{{url_for('.static', filename='yeti.bootstrap.min.css')}}">Yeti</option>
          <option value="{{url_for('.static', filename='zephyr.bootstrap.min.css')}}">Zephyr</option>
        </select>
        <p class="mt-4 mb-2">Celebrity Mode:</p>
        <input type="radio" name="celebrity" id="celebrity_true" value="yes">
        <label for="celebrity_true" class="me-5">Enabled</label>
        <input type="radio" name="celebrity" id="celebrity_false" value="no">
        <label for="celebrity_false">Disabled</label><br>
        <div class="d-flex justify-content-end">
          <button class="btn btn-primary my-4">Update</button>
        </div>
      </form>
      <div class="d-flex justify-content-end">
        <button class="btn btn-danger" onclick="accountDeletionConfirmation()">Delete Account</button>
      </div>
    </div>
  </div>
  <!-- bootstrap script for dropdown menu -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
    crossorigin="anonymous"></script>
    {% block javascript %}
    <script src="{{ url_for('static',filename='settings.js') }}"></script>
    {% endblock %}
</body>

</html>